body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#divHeader {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: 100px;
}

#divMagazineLogo {
  float: left;
  font-size: 30pt;
  font-weight: bold;
}

#divBaner {
  float: right;
  width: 800px;
}

#imgBaner {
  width: 400px;
  height: 50px;
  padding-top: 30px;
  padding-left: 400px;
}

/*clean block div*/
.clean {
  clear: both;
}

#divMenu {
  height: 50px;
  width: 100%;
  min-width: 960px;
  background-color: black;
  margin-top: 0px;
}

#listMenu ul li {
  float: left;
  text-transform: uppercase;
}

#listMenu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

#listMenu ul li a{
  font-weight: bold;
}

#listMenu #allContent {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
}

#listMenu a:hover {
  background: rgb(63, 60, 60);
}

#divAllContent {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  height: 800px;
 
}

#sideBar {
  width: 300px;
  height: 800px;
  background: rgb(207, 203, 203);
  float: right;
}

#formSearch, #formSearchMegazinNews {
  margin-left: 65px;
  height: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#buttonSearch, #buttonSabscribe {
  height: 27px;
  width: 70px;
  background-color: black;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#divTextField {
  float: left;
}

#sponsorsAndSearch {
  color: gray;
  text-transform: uppercase;
  margin-left: 45px;
  }

#categories{
  color: gray;
  text-transform: uppercase;
  margin-left: 45px;
  margin-bottom: -5px;
}

#divImg{
  margin-right: 20px ;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}

.imagesWidthHeigthSponsorsRow1, .imagesWidthHeigthSponsorsRow2 {
  width: 120px;
  height: 80px;

  
}

.imagesWidthHeigthSponsorsRow1{
  float: left;

}

.imagesWidthHeigthSponsorsRow2{
  float: right;
}

#categoriesList ul{
  width: 110px;
  font-size: 12px;
  text-transform: uppercase;
}

#categoriesList ul li{
  border: 1px dashed rgb(189, 187, 187);
  padding: 9px 0;
 
  
}

#categoriesList ul li a{
  text-decoration: none;
  color:rgb(65, 64, 64);
  font-weight: bold;
}

#categoriesList ul li a:hover{
color: gray;
}

.left {
  float: left;
}

.right{
  float: right;
}

#categoriesList ul li:first-child{
  border: none;
}

#divContent {
  margin-right: 300px;
  background: rgb(236, 238, 233);
  height: 800px;
}

#imageWidthHeigth {
  width: 160px;
  height: 160px;
  float: left;
  line-height: 0.5px;
  border: 2px solid gray;
}

.divArticle1,
.divArticle2,
.divArticle3 {
  margin-left: 180px;
}

.divArticle1 a {
  text-decoration: none;
  color: gray;
}

.divArticle2 a {
  text-decoration: none;
  color: gray;
}

.divArticle3 a {
  text-decoration: none;
  color: gray;
}

.divArticle1 a:hover {
  text-decoration: underline;
  color: gray;
}

.divArticle2 a:hover {
  text-decoration: underline;
  color: gray;
}

.divArticle3 a:hover {
  text-decoration: underline;
  color: gray;
}

.divArticle3 {
  margin-bottom: 30px;
}

.divImg1 {
  padding-top: 10px;
}

.divImg2,
.divImg3 {
  padding-top: 20px;
}
