body{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#divHeader {
  min-width: 960px; 
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: 100px;
}

#divMagazineLogo {
  float: left;
  font-size: 30pt;
  font-weight: bold;
}

#divBaner {
  float: right;
  width: 800px;
}

#imgBaner {
  width: 400px;
  height: 50px;
  padding-top: 30px;
  padding-left: 400px;
}

/*clean block div*/
.clean {
  clear: both;
}

#divMenu {
  height: 50px;
  width: 100%;
  min-width: 960px;
  background-color: black;
  margin-top: 0px;
}

#listMenu ul li {
  float: left;
  text-transform: uppercase;
  
}



#listMenu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

#listMenu #allContent{
  min-width: 960px; 
  max-width: 1200px;
  margin: 0 auto;
}

#listMenu a:hover{
  background: rgb(63, 60, 60);
}

#divAllContent{
  overflow: hidden;
}

#sideBar{
  width: 300px;
  height: 400px;
  background: gray;
  
}

#content{
  height: 400px;
  background: greenyellow;
  float: left;
}